@model HomeViewModel

<div class="typeMessage" id="typeMessage" style="color: red;">Hello I am Solomon Young <span id="typed3" class="typed3" style="color:red;"></span></div>
<div class="row wrapper mt-5 mr-5 no-gutters">
    <div class="col-md-6 no-gutters fader-item">
        <div class="left-side">
            <div class="profile-img-wrapper mt-4 fader-item" id="Profileimg ">

            </div>
            <div class="d-flex justify-content-end "></div>
            <div class="Hello-note mt-3">
                Hello I am @Model.lastName @Model.firstName Proficient in
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exur.
            </div>
        </div>
    </div>
    <div class="col-md-6 no-gutters fader-item">
        <div class="right-side d-flex justify-content-center">
            <div class="mt-5">@Model.tagLine</div>
        </div>
    </div>
</div>

 <div class="row no-gutters" style="margin-top:-100px;">

     <div class="col-md-6 about-left no-gutters ">
         <div id="proficient-intro" class="ml-3 d-flex">I Proficiently Speak the Following</div>

     </div>
    <div class="col-md-6 about-right no-gutters d-flex p-5">
        <div class="img-contianer " style="border:1px solid">
            <img src="#" alt="Alternate Text" />
        </div>
        <div>
            <article>

            </article>
        </div>
    </div>
</div>




    <div>@Model.aboutInfo</div>


    @foreach (var project in Model.projects)
    {
        <h3>@project.projectTitle</h3>
        <h3>@project.projectDescription</h3>
        <img src="@project.projectImageUrl" alt="Alternate Text" style="width:200px;" />
    }
