@model HomeViewModel

     <div class="typeMessage mt-5" id="typeMessage" style="color: red; border:1px solid;"></div>  <span id="cursor" style="color:red; border:1px solid">_</span>
    <div class="row wrapper  mt-5 mr-5 no-gutters">
        <div class="col-md-6 no-gutters fader-item" >
            <div class="left-side">
                <div class="profile-img-wrapper mt-4 fader-item" id="Profileimg ">

                </div>
                <div class="d-flex justify-content-end " ></div>
                <div class="Hello-note mt-3">
                    Hello I am @Model.lastName @Model.firstName Proficient in
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exur.
                </div>
            </div>
        </div>
        <div class="col-md-6 no-gutters fader-item">
            <div class="right-side d-flex justify-content-center">
                <div class="mt-5">@Model.tagLine</div>
            </div>
        </div>
    </div>



    <div>@Model.aboutInfo</div>


     @foreach (var Proficiency in Model.Proficiency)
     {
        <div>@Proficiency.name</div>
     }


    @foreach (var project in Model.projects)
    {
        <h3>@project.projectTitle</h3>
        <h3>@project.projectDescription</h3>
        <img src="@project.projectImageUrl" alt="Alternate Text" style="width:200px;" />
    }
