@model User


<div id="mouse-circle"></div>

<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>


    <div>@Model.lastName</div>
    <div>@Model.firstName</div>
    <div>@Model.aboutInfo</div>
    <img src="@Model.profilePictureUrl" alt="Alternate Text" style="width:120px;" />
    @foreach (var project in Model.projects)
    {
        <h3>@project.ID</h3>
        <h3>@project.projectTitle</h3>
        <h3>@project.projectDescription</h3>
        <img src="@project.projectImageUrl" alt="Alternate Text" style="width:200px;" />
    }
