@model HomeViewModel

    <div class="row wrapper container justify-content-center mt-5 no-gutters">
        <div class="col">
            <div class="left-side col-md-6">
                left side
            </div>
        </div>
        <div class="col">
            <div class="right-side col-md-6">
                right side
            </div>
        </div>
    </div>


    <div>@Model.lastName</div>
    <div>@Model.firstName</div>
    <div>@Model.aboutInfo</div>
    <div>@Model.tagLine</div>

     @foreach (var Proficiency in Model.Proficiency)
     {
        <div>@Proficiency.name</div>
     }

    <img src="@Model.profilePictureUrl" alt="Alternate Text" style="width:120px;" />
    @foreach (var project in Model.projects)
    {
        <h3>@project.projectTitle</h3>
        <h3>@project.projectDescription</h3>
        <img src="@project.projectImageUrl" alt="Alternate Text" style="width:200px;" />
    }
