@model User


<div id="mouse-circle"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            <img src="//placehold.it/120/ccff00" class="rounded-circle">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>


    <div>@Model.lastName</div>
    <div>@Model.firstName</div>
    <div>@Model.aboutInfo</div>
    <img src="@Model.profilePictureUrl" alt="Alternate Text" style="width:120px;" />
    @foreach (var project in Model.projects)
    {
        <h3>@project.ID</h3>
        <h3>@project.projectTitle</h3>
        <h3>@project.projectDescription</h3>
        <img src="@project.projectImageUrl" alt="Alternate Text" style="width:200px;" />
    }
